.boldify{

	font-weight: bold;
	font-size: 50px;
	color: rgb(189, 195, 201);

}



body{

	background-color: black

}

#header{

	color: white;

}

.links{

	text-decoration: none;

}

p:focus{

	background-color: white; 

}

p:hover{

	background-color: red; 

}

p:visited{

	background-color: white; 

}

div{

	width: 30%;
}

