body{

	background-color: rgb(174, 177, 181);

}

h1{

	color: rgb(0, 50, 145);

}

#images{

	border: 5px ridge black;
}

.identification{

	font-family: Segoe;


}

#About{

	overflow: auto;
	overflow-x: 10px;
	border: 10px solid grey;
	color: rgb(12, 13, 15);

}

.about_info{

	overflow: auto;
	border: 10px solid grey;
	font-family: Verdana;
	padding: 10px;

}
